blinker==1.8.2
click==8.1.7
DateTime==5.5
dnspython==2.6.1
Flask==3.0.3
Flask-PyMongo==2.3.0
importlib_metadata==7.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pymongo==4.7.2
pytz==2024.1
Werkzeug==3.0.3
zipp==3.18.2
zope.interface==6.4.post2
importlib_metadata==7.1.0
