.phone-screen {
    width: 100%;
    max-width: 500px;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    color: #f6f6f6;
    background-color: #000000;
    justify-content: space-around;
}
.bar {
    width: 100%;
    height: 30%;
    max-width: 500px;
    flex: 50%;
    justify-content: center;
}
.cur {
    width: 100%;
    max-width: 500px;
    flex: 50%;
    height: 400px;
}
.add {
    width: 100%;
    max-width: 500px;
    flex: 50%;
    height: 100px;
}
.show {
    width: 100%;
    max-width: 500px;
    flex: 50%;
    height: 100px;
}
.locations {
    width: 100%;
    max-width: 500px;
    flex: 50%;
    height: 100px;
}





body {
    text-align: center;
    margin:0
    font-family: serif;
    width = auto;
    font-size: 30px;
}

button {
    color: white;
    background-color: #000000;
    border: 1px #f0ead6;
    font-family: serif;
    text-align: center;
    font-size: 28px;
    border-radius: 10px;
}
button.top {
    font-size: 35px;
}
button.current{
    color: white;
    font-weight: bold;
    background-color: #000000;
    border: 2px #f0ead6;
    font-family: serif;
    text-align: center;
    font-size: 35px;
    border-radius: 12px;
}
td {
    text-align: center;
    height: 65px;
    font-size: 28px
}
table {
    border-collapse: separate;
    border-radius: 12px;
    border: 3px solid #E8175D;
}
