.phone-screen {
    width: 100%;
    max-width: 450px;
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    color: #f6f6f6;
    background-color: #000000;
    justify-content: space-around;
}
.cur {
    width: 90%;
    max-width: 450px;
    height: 400px;
    flex: 100%;
    justify-content: space-around;
}
.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 450px;
}
.cur {
    width: 100%;
    max-width: 450px;
    height: 400px;
    flex: 100%;
}
.add {
    width: 100%;
    max-width: 450px;
    flex: 50%;
    height: 100px;
}
.show {
    width: 100%;
    max-width: 450px;
    flex: 50%;
    height: 100px;
}
.locations {
    width: 100%;
    max-width: 450px;
    flex: 50%;
    height: 100px;
}





body {
    text-align: center;
    margin:0
    font-family: serif;
    width = auto;
    font-size: 30px;
}

button {
    color: white;
    background-color: #000000;
    border: 1px #f0ead6;
    font-family: serif;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
}
button.top {
    text-align: left;
    font-size: 20px;
    padding: 10px 24px;
    flex: 1;
    margin: 0 5px;
    width: auto;
}
button.current{
    color: white;
    font-weight: bold;
    background-color: #000000;
    border: 2px #f0ead6;
    font-family: serif;
    text-align: center;
    font-size: 30px;
    border-radius: 12px;
}
td {
    text-align: center;
    height: 65px;
    font-size: 28px
}
table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-radius: 12px;
    border: 3px solid #E8175D;

}
