body {
    text-align: center;
    margin:0
    font-family: serif;
    width = auto;
    font-size: 30px;
}
button {
    background-color: #FF8FAB;
    border: 1px #f0ead6;
    font-family: serif;
    text-align: center;
    font-size: 35px;
}
button.current{
    font-weight: bold;
    background-color: #FF8FAB;
    border: 2px #f0ead6;
    font-family: serif;
    text-align: center;
    font-size: 45px;
}
td {
    text-align: center;
    height: 65px
}
