.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 372px;
  height: 168px
}

.overlay-text {
  border-radius: 10px;
  border-width: thick;
  border-style: solid;
  border-color: #1c4587;
  position: absolute;
  font: 25px Georgia;
  top: 55%;
  left: 60%;
  transform: translate(-65%, -50%);
  background-color: #fff2ccff;
  color: #0b5394;
  padding: 10px 20px;
  text-align: center;
  white-space: nowrap;
}
.time-stamp{
  border-radius: 10px;
  border-width: thick;
  border-style: solid;
  border-color: #1c4587;
  position: absolute;
  font: 12px Georgia;
  top: 93%;
  left: 55%;
  transform: translate(-65%, -50%);
  background-color: #fff2ccff;
  color: #0b5394;
  padding: 5px 10px;
  text-align: center;
  white-space: nowrap;
}
.title{
  border-radius: 10px;
  border-color: #1c4587;
  position: absolute;
  font: 25px Georgia;
  top: 19%;
  left: 57.5%;
  transform: translate(-65%, -50%);
  color: #0b5394;
  padding: 5px 10px;
  text-align: center;
  white-space: nowrap;
}
