<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='appicon.jpg') }}/">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='appicon.jpg') }}"/>
    <meta http-equiv="refresh" content="120">
    <title>Talon Tracker</title>

    {% block head %}{% endblock %}
</head>
<body text-align = "center" style = "background-color:#000000;color:white;font-family: verdana, sans-serif;">
    {% block body %}{% endblock %}
</body>
</html>
