{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div align = "center">
    <h1>Where's Ms. Blair?</h1>
    <table bgcolor = "black">
        <tr bgcolor = "#fa7aa7">
            <th>
                <form action = "/" method="post">
                    {% if not fav %}
                    <button name = "showFavs" value = "T" style = "background-color: #FF8FAB">
                        Favorites
                    </button>
                    {% else %}
                    <button name = "showFavs" value = "F" style = "background-color: #FF8FAB">
                        Back
                    </button>
                    {% endif %}
                </form>
            </th>
            <th>
                <form action = "/" method="post">
                    {% if not use %}
                    <button name = "showUsage" value = "T" style = "background-color: #FF8FAB">
                        Usage
                    </button>
                    {% else %}
                    <button name = "showUsage" value = "F" style = "background-color: #FF8FAB">
                        Back
                    </button>
                    {% endif %}
                </form>
            </th>
            <th>
                <form action = "/" method="post">
                    {% if not recent %}
                    <button name = "showRecents" value = "T" style = "background-color: #FF8FAB">
                        Recency
                    </button>
                    {% else %}
                    <button name = "showRecents" value = "F" style = "background-color: #FF8FAB">
                        Back
                    </button>
                    {% endif %}
                </form>
            </th>
        </tr>
    </table>
    <br>
    {% if current %}
    <table bgcolor = "black" style = "border: 2px solid">
        <tr bgcolor = "#FF8FAB">
            <td width = "340" height = "200" style = "font-size: 30px">
                <form action = "/" method="post">
                <button name = "setCurrent" value = "{{current['locN']}}F" class = "current" style = "background-color: #FF8FAB">
                    {{current['locN']}}
                </button>
                </form>
            </td>

            <td width = "300" style = "font-size: 45px">

                <b> {{current['time'].strftime("%m/%d, %H:%M")}} </b>
            </td>
            <td width = "100">
                <form action = "/" method="post">
                    <!-- should be made icons later, these are just placeholder -->
                {% if current['f'] %}
                    <button class = "current" name = "setFav" value ="{{ current['locN'] }}F" >
                    ❤
                        </button>
                {% else %} <button class = "current" name = "setFav" value ="{{ current['locN'] }}T">
                    ♡
                        </button>
                {% endif %}
                </form>
            </td>
            <td width = "100">
                <form action = "/" method="post">
                    <button class = "current" name = "remove" value ="{{ current['locN'] }}" >
                    🗑️
                    </button>
                </form>
            </td>
    </table>
    <table>
        <tr>
            <td>
               <form action = "/" method="post">
                <button name = "addLoc" value = True style = "background-color: #FF8FAB; border: 4px solid black; font-size: 55px">
                Add Location
                </button>
                </form>
            </td>
    </table>

    {% else %}
    <table style = "width: 1020px" bgcolor = "black">
        <tr bgcolor = "#cc5b82">
            <td style = "font-size: 50px">
                No Current Location Set
            </td>
        </tr>
    </table>
    {% endif %}
    <br>
    <table bgcolor = "black">
        {% for loc in locs %}
        {% if not loc['current'] %}
            <tr bgcolor = "#FF8FAB">

            <td width = "300">
                <form action = "/" method="post">
                <button name = "setCurrent" value = "{{ loc['locN'] }}T" class = "background-color: #f0ead6">
                    {{loc['locN']}}
                </button>
                </form>
            </td>
            <td width = "300">

                {{loc['time'].strftime("%m/%d, %H:%M")}}
            </td>
            <td width = "80">
                <form action = "/" method="post">
                {% if loc['f'] %}
                    <button name = "setFav" value ="{{ loc['locN'] }}F">
                    ❤
                        </button>
                {% else %} <button name = "setFav" value ="{{ loc['locN'] }}T">
                    ♡
                        </button>
                {% endif %}
                </form>
            </td>
            <td width = "80">
                <form action = "/" method="post">
                    <button name = "remove" value ="{{ loc['locN'] }}">
                    🗑️
                    </button>
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>


</div>
{% endblock %}
