{% extends 'base.html' %}

{% block head %}
<link rel="apple-touch-icon" href="{{url_for('static', filename='appicon.jpg') }}">

{% endblock %}

{% block body %}
<!-- help me-->

<div class = "phone-screen">
    <table style = "border: 0px">
        <tr align = "right">
            <td align = "right">
                <h2 align = "center">WHERE'S MS. BLAIR?</h2>
            </td>
        </tr>
    </table>
    <div class = "bar">
        <table style = "border: 0px solid yellow;">
            <tr>
                <td width = 1>
                    <form action = "/" method="post">
                    {% if not fav %}
                    <button class = "top" name = "showFavs" value = "T" style = "background-color: #E8175D;" >
                          Favorites
                         </button>
                    {% else %}
                 <button class = "top" name = "showFavs" value = "F" style = "background-color: #E8175D;">
                      Back
                        </button>
                     {% endif %}
                     </form>
                </td>
                <td width = 1>

        <form action = "/" method="post">
            {% if not use %}
            <button class = "top" name = "showUsage" value = "T" style = "background-color: #E8175D;">
                Usage
            </button>
            {% else %}
            <button class = "top" name = "showUsage" value = "F" style = "background-color: #E8175D;">
                Back
            </button>
            {% endif %}
        </form>
                </td>
                <td width = 1>
                    <form action = "/" method="post">
            {% if not recent %}
            <button class = "top" name = "showRecents" value = "T" style = "background-color: #E8175D;">
                Recency
            </button>
            {% else %}
            <button class = "top" name = "showRecents" value = "F" style = "background-color: #E8175D;">
                Back
            </button>
            {% endif %}
        </form>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div class = "cur">
    {% if current %}
    <table bgcolor = "#E8175D" style = "border: 3px solid #E8175D;width: 100%">
        <tr bgcolor = "#000000"> <!-- here -->
            <td width = "50%">
                <form action = "/" method="post">
                <button name = "setCurrent" value = "{{current['locN']}}F" class = "current">
                    {{current['locN']}}
                </button>
                </form>
            </td>
            <td width = "25%">
                <form action = "/" method="post">
                    <!-- should be made icons later, these are just placeholder -->
                {% if current['f'] %}
                    <button class = "current" name = "setFav" value ="{{ current['locN'] }}F" >
                    ❤
                        </button>
                {% else %} <button class = "current" name = "setFav" value ="{{ current['locN'] }}T">
                    ♡
                        </button>
                {% endif %}
                </form>
            </td>
            <td width = "25%">
                <form action = "/" method="post">
                    <button class = "current" name = "remove" value ="{{ current['locN'] }}" >
                    🗑️
                    </button>
                </form>
            </td>
    </table>
        <p style = "font-size: 20px"> LAST UPDATED: {{current['time'].strftime('%-I:%M%p')}} </p>
    {% else %}
    <table style = "border-width:3px;border-color:#E8175D;border-style:solid;" bgcolor = "#E8175D" >


        <tr bgcolor = "#000000">
            <td style = "font-size: 32px" width = "100%">
                <b>No Location/Unavailable</b>
            </td>
        </tr>
    </table>
    {% endif %}

    </div>
    <div class = "add">
    <table style = "border: 0px" align = "center">
        <tr align = "center">
            <td>
       <form action = "/" method="post">
        <button name = "addLoc" value = True style = "background-color: #E8175D; border: 3px solid black; font-size: 40px;" >
        Add Location
        </button>
        </form>
            </td>

        </tr>
    </table>
        </div>
    <div class = "show">
        <form action = "/" method="post">
            {% if show %}
                    <button name = "viewLoc" value = "F" style = "background-color: #E8175D; border: 3px solid black; font-size: 23px;" >
                    Hide Locations
                    </button>
            {% else %} <button name = "viewLoc" value = "T" style = "background-color: #E8175D; border: 3px solid black; font-size: 23px;" >
                    Show Locations
                    </button>
            {% endif %}
        </form>
    </div>
    <br>
    <div class = "locations">
    <table bgcolor = "#E8175D">
        {% for loc in locs %}
        {% if not loc['current'] %}
            <tr bgcolor = "#000000">

            <td width = "50%">
                <form action = "/" method="post">
                <button name = "setCurrent" value = "{{ loc['locN'] }}T" class = "background-color: #f0ead6">
                    {{loc['locN']}}
                </button>
                </form>
            </td>
            <td width = "25%">
                <form action = "/" method="post">
                {% if loc['f'] %}
                    <button name = "setFav" value ="{{ loc['locN'] }}F">
                    ❤
                        </button>
                {% else %} <button name = "setFav" value ="{{ loc['locN'] }}T">
                    ♡
                        </button>
                {% endif %}
                </form>
            </td>
            <td width = "25%">
                <form action = "/" method="post">
                    <button name = "remove" value ="{{ loc['locN'] }}">
                    🗑️
                    </button>
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    </div>
</div>
{% endblock %}
