{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<!-- help me-->

<div class = "phone-screen">
    <table style = "border: 0px">
        <tr align = "right">
            <td align = "right">
                <h1 align = "center">WHERE'S MS. BLAIR?</h1>
            </td>
        </tr>
    </table>
    <div class = "bar">
        <div class = "i1">
        <form action = "/" method="post">
            {% if not fav %}
            <button class = "top" name = "showFavs" value = "T" style = "background-color: #E8175D;width: 110px;" >
                Favorites
            </button>
            {% else %}
            <button class = "top" name = "showFavs" value = "F" style = "background-color: #E8175D;width: 69px;">
                Back
            </button>
            {% endif %}
        </form>
            </div>
            <div class = "i1">
        <form action = "/" method="post">
            {% if not use %}
            <button class = "top" name = "showUsage" value = "T" style = "background-color: #E8175D;width: 80px;">
                Usage
            </button>
            {% else %}
            <button class = "top" name = "showUsage" value = "F" style = "background-color: #E8175D;width: 69px;">
                Back
            </button>
            {% endif %}
        </form>
                </div>
                <div class = "i1">
        <form action = "/" method="post">
            {% if not recent %}
            <button class = "top" name = "showRecents" value = "T" style = "background-color: #E8175D;width: 105px;">
                Recency
            </button>
            {% else %}
            <button class = "top" name = "showRecents" value = "F" style = "background-color: #E8175D;width: 69px;">
                Back
            </button>
            {% endif %}
        </form></div>
        </div>
    <br>
    <div class = "cur">
    {% if current %}
    <table bgcolor = "#E8175D" style = "border: 6px solid #E8175D;">
        <tr bgcolor = "#000000"> <!-- here -->
            <td width = "32%">
                <form action = "/" method="post">
                <button name = "setCurrent" value = "{{current['locN']}}F" class = "current">
                    {{current['locN']}}
                </button>
                </form>
            </td>
            <td width = "18%">
                <form action = "/" method="post">
                    <!-- should be made icons later, these are just placeholder -->
                {% if current['f'] %}
                    <button class = "current" name = "setFav" value ="{{ current['locN'] }}F" >
                    ❤
                        </button>
                {% else %} <button class = "current" name = "setFav" value ="{{ current['locN'] }}T">
                    ♡
                        </button>
                {% endif %}
                </form>
            </td>
            <td width = "18%">
                <form action = "/" method="post">
                    <button class = "current" name = "remove" value ="{{ current['locN'] }}" >
                    🗑️
                    </button>
                </form>
            </td>
    </table>
    {% else %}
    <table style = "border-width:3px;border-color:#E8175D;border-style:solid;" bgcolor = "#E8175D" >


        <tr bgcolor = "#000000">
            <td style = "font-size: 32px" width = "100%">
                <b>No Location/Unavailable</b>
            </td>
        </tr>
    </table>
    {% endif %}
    </div>
    <br>
    <div class = "add">
    <table style = "border: 0px" align = "center">
        <tr align = "center">
            <td>
       <form action = "/" method="post">
        <button name = "addLoc" value = True style = "background-color: #E8175D; border: 3px solid black; font-size: 45px;" >
        Add Location
        </button>
        </form>
            </td>

        </tr>
    </table>
        </div>
    <div class = "show">
        <form action = "/" method="post">
            {% if show %}
                    <button name = "viewLoc" value = "F" style = "background-color: #E8175D; border: 3px solid black; font-size: 27px;" >
                    Hide Locations
                    </button>
            {% else %} <button name = "viewLoc" value = "T" style = "background-color: #E8175D; border: 3px solid black; font-size: 27px;" >
                    Show Locations
                    </button>
            {% endif %}
        </form>
    </div>
    <br>
    <div class = "locations">
    <table bgcolor = "#E8175D">
        {% for loc in locs %}
        {% if not loc['current'] %}
            <tr bgcolor = "#000000">

            <td width = "31%">
                <form action = "/" method="post">
                <button name = "setCurrent" value = "{{ loc['locN'] }}T" class = "background-color: #f0ead6">
                    {{loc['locN']}}
                </button>
                </form>
            </td>
            <td width = "35%" style="font-size:25px;">
                {{loc['time'].month}}/{{loc['time'].day}}
                {{loc['time'].strftime("%-I:%M")}}
            </td>
            <td width = "17%">
                <form action = "/" method="post">
                {% if loc['f'] %}
                    <button name = "setFav" value ="{{ loc['locN'] }}F">
                    ❤
                        </button>
                {% else %} <button name = "setFav" value ="{{ loc['locN'] }}T">
                    ♡
                        </button>
                {% endif %}
                </form>
            </td>
            <td width = "17%">
                <form action = "/" method="post">
                    <button name = "remove" value ="{{ loc['locN'] }}">
                    🗑️
                    </button>
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    </div>
</div>
{% endblock %}
